footer {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  gap: 100px;
}

.logomaior {
  align-self: center;
}
.logomaior img {
  max-width: 50vw;
  height: auto;
}
.informacoes  {
  justify-self: center;

}
.informacoes h1 {
  color: white;
  font-weight: 800;
}
.informacoes span {
  color: white;
}

.informacoes p {
  color: white;
}
