footer {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.logomaior {
  align-self: center;
}
.logomaior img {
  max-width: 50vw;
  height: auto;
}
.informacoes {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 5px;
}


.informacoes p,
span,
h1, i {
  color: white;
  margin: 0;
  font-size: 1.2vw;
}
.informacoes h1 {
  font-weight: 800;
  font-size:2.2vw ;
}


@media (max-width: 782px) {
  footer {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .informacoes p,
span,
h1, i {
  color: white;
  margin: 0;
  font-size: 18px;
}
.informacoes h1 {
  font-weight: 800;
  font-size: 30px;
}

}
